.board{
    display: flex;
    flex-direction: column;
    border:solid 5px;
    border-color: darkgoldenrod;
    height: 800px;
    width:800px;
    margin:0px
}
.boardrow{
    display: flex;
    margin: 0px;
}
.white_cell{

    background-color: white;
    height: 100px;
    width: 100px;
    margin: 0px;
    box-sizing: border-box;
}
.black_cell{

    background-color: black;
    height: 100px;
    width: 100px;
    margin: 0px;
    box-sizing: border-box;
}